*, *:after, *:before{
    box-sizing: border-box;
}
.contenedor{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    max-width: 100%;
}
footer{
    background-color: rgb(13, 13, 19);
    height: 100px;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 20px;
}
li{
    list-style: none;
    text-align: left;
    padding: 20px;
}
p{
    line-height: .5;
}
a{
    text-decoration: none;
}
.divStyle{
    border: 4px outset rgb(173, 172, 172);
}

.divStyle p{
    font-size: 15px;
    color: rgb(90, 89, 89);
}
.divStyle li{
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 400;
}

.listas{
    display: grid;
    gap: 20px;
    margin-top: 20px;
}
@media (min-width: 468px) {
    .listas{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .listas{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 968px) {
    .listas{
        grid-template-columns: repeat(4, 1fr);
    }
}
.buttonStyle{
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 5px;
    
}
.buttonStyle span{
    font-weight: 1000;
}
.buttonGoBack span{
    font-weight: 1000;
}
.buttonStyle:hover{
    background-color: yellowgreen;
    color: white;

}

.topList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.buttonAmazon{
    background-color: rgb(220, 181, 11);
    color: white;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.buttonAmazon:hover{
    background-color: rgb(64, 222, 7);
    color: black;
}
@media (min-width: 768px) {
    .buttonAmazon{
        width: auto;
    }
}
.topBook{
    padding: 30px;
    border: 1px solid grey;
}
.topBook p{
    line-height: 1;
    color: rgb(90, 89, 89);
}
.buttonGoBack{
    padding: 10px;
    background-color: rgb(241, 7, 7);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px
}
    .buttonGoBack:hover{
        background-color: black;
        color: white;
    }
@media (min-width: 758px) {
    .buttonGoBack{
        width: auto;
        display: block;
    }
}
#contenedor_spinner{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
}
#spinner{ 
    border: 15px solid #ccc;
    border-top: #f4266a;
    border-top-style: groove ;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    animation: spin 1.5s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#filterButton{
    background-color: rgb(169, 157, 167);
    cursor: pointer;
    color: white;
    padding: 10px 20px;
}
#filterInput{
    padding: 10px 20px;
    font-size: 15px;
}
header div{
    margin-top: 20px;
    text-align: center;
}
@media (min-width: 468px) {
    header div{
        text-align: right;
    }
}

